.firstDiv{
  color: blue;
}


.secondDiv{
  color: yellow;
}

#singledout{
  color: green;
  text-decoration: line-through;
}

h3 + ul{
  border: 4px dotted purple;
}

li a{
  color: red;
}

li a[href="https://www.nytimes.com/"]{
  color: blue;
  border: 5px solid orange;
}
