h1{
  font-family: 'Dancing Script', cursive;
}


body{
  font-size: 20px;
}

#two{
  font-size: 1em;
}

p{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

h1
{
  text-align: center;
}
